@tailwind base;
@tailwind components;
@tailwind utilities;
  

.font-rounded {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


@keyframes shake-y {
  0% { transform: translateY(0); }
  25% { transform: translateY(-3px); }
  50% { transform: translateY(3px); }
  75% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

.shakeDiv:hover {
  animation: shake-y 0.5s ease-in-out;
}

/* styles.css */
.mapbox-custom-search-bar {
  /* Add your custom styles here */
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  font-size: 16px;
}

/* Customize the appearance of the search results */
.mapbox-custom-search-bar .mapboxgl-ctrl-geocoder--input {
  border: none;
  outline: none;
  font-size: 16px;
}

/* Customize the suggestion box */
.mapbox-custom-search-bar .mapboxgl-ctrl-geocoder--results {
  border-radius: 0 0 20px 20px;
}

.font-seller {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1024px) {
  .filter-sidebar {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .filter-sidebar.open {
    transform: translateX(0);
  }
}


/* Custom CSS for Mapbox Geocoder */
.mapboxgl-ctrl-geocoder {
  border-radius: 8px;
  height: 40px;
  width: 550px !important;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .mapboxgl-ctrl-geocoder {
    width: 100% !important; 
  }
}

.mapboxgl-ctrl-geocoder--input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none !important;
  box-shadow: none !important; 
}

/* Change the placeholder color */
.mapboxgl-ctrl-geocoder--input::placeholder {
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 510px !important;
}

/* Custom styling for the search results */
.suggestions {
  background-color: white;
  border: 1px solid #ccc;
}
